<ion-header>
	<ion-toolbar>
	<ion-buttons>
      <ion-menu-button></ion-menu-button>
		<ion-title>Log in</ion-title>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<form (ngSubmit)="login()" [formGroup]="loginForm">
		<ion-list inset>

			<ion-item [ngClass]="{ invalid: emailErrors.hasError('*', ['touched', 'dirty']) }">
				<ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
			</ion-item>

			<div ngxErrors="email" #emailErrors="ngxErrors">
				<div [ngxError]="['email', 'required']" [when]="['touched', 'dirty']">It should be a valid email</div>
			</div>

			<ion-item [ngClass]="{ invalid: passwordErrors.hasError('*', ['touched']) }">
				<ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
			</ion-item>

			<div ngxErrors="password" #passwordErrors="ngxErrors">
				<div [ngxError]="['minlength', 'required']" [when]="['touched']">It should be at least 5 characters</div>
			</div>
		</ion-list>

		<div padding-horizontal>
			<div class="form-error">{{loginError}}</div>

			<ion-button full type="submit" [disabled]="!loginForm.valid">Log in</ion-button>
			<div class="login-footer">
				<p>
					<a href="#">Forgot password?</a>
					If you're a new user, please sign up.
				</p>
			</div>

			<ion-list>

				<ion-button ion-button icon-left block clear (click)="loginWithGoogle()">
					<ion-icon name="logo-google"></ion-icon>
					Log in with Google
				</ion-button>

				<ion-button ion-button icon-left block clear (click)="signup()">
					<ion-icon name="person-add"></ion-icon>
					Sign up
				</ion-button>
			</ion-list>
		</div>
	</form>
</ion-content>
